<% layout("layouts/boilerplate") %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds" method="POST" novalidate class="validation-form" enctype="multipart/form-data">
                <div class="mb-3 ">
                    <label for="title" class="form-label">Title: </label>
                    <input type="text" class="form-control" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Valid</div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Location: </label>
                    <input type="text" class="form-control" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Valid</div>
                </div>
                <div class="mb-3">
                    <!-- <input type="file" name="image" id="" multiple> -->
                    <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image Url : </label>
                    <input type="text" class="form-control" id="image" name="campground[image]" required >
                    <div class="valid-feedback">Valid</div>
                 -->
                    <label for="image" class="form-label">Upload Images </label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="image" aria-describedby="inputGroupFileAddon04"
                            aria-label="Upload" name="image" multiple required  >
                        <div class="valid-feedback">Valid</div>
                    </div>
                </div>
                    <div class="mb-3">
                        <div class="input-group mb-3">
                            <label for="price" class="form-label">Campground Price </label>
                            <div class="input-group">
                                <span class="input-group-text" id="price">₱</span>
                                <input type="number" class="form-control" id="price" name="campground[price]"
                                    placeholder="0.00" aria-describedby="price" required>
                                <div class="valid-feedback">Valid</div>

                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description: </label>
                        <textarea type="text" class="form-control" id="description" name="campground[description]"
                            rows="3" required></textarea>
                        <div class="invalid-feedback">
                            Please enter a message in the textarea.
                        </div>

                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-success">Add Campground</button>
                    </div>
            </form>
            <a href="/campgrounds">Go back</a>
        </div>
    </div>


    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validation-form')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>